<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Language" content="ru">
        <title>Travel {% block title %}Travel{% endblock %}</title>


        <link rel="icon" type="image/png" href="{{ asset('public/img/favicon.png') }}" sizes="32x32">
        {% include "::meta-header.html.twig" %}

        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block search %}
            {{ include('::search.html.twig') }}
        {% endblock %}
        {% block header %}
            {{ include('::header.html.twig') }}
        {% endblock %}

        {% if app.session.flashbag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashbag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        {% block body %}
        {% endblock %}
        {{ render(controller('MainBundle:Main:footer')) }}
        {{ include('::meta-footer.html.twig') }}
    </body>
    {% block scripts %}
    {% endblock %}
</html>