<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Бронирование</title>
    </head>
    <body>
    
        <h2>{{ id }} Бронь на {{ tour }}</h2>

        <h3>Имя : {{ name }}</h3>
        <h3>Телефон : {{ phone }}</h3>
        <h3>Эл. почта : {{ email }}</h3>
        <h3>Дата тура : {{ bookDate }}</h3>
        <h3>Взрослых : {{ adults }}</h3>
        <h3>Детей : {{ kids }}</h3>
        <h3>Примечание : {{ message }}</h3>
        {#<h3><a target="_blank" href="http://sunrice.kg/aio-admin/product/cart/list">Перейти к деталям заказа</a></h3>#}

    </body>
</html>