<!--page-welcome-area start -->
<div class="page-welcome-area">
    <div class="header-area header-absolute page-header-style">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="logo">
                        <a href="{{ path('main_index') }}"><img src="{{ asset('public/img/logo.png') }}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mainmenu">
                        <ul id="slicknav-menu-list">
                            <li><a href="{{ path('main_index') }}">Главная</a></li>
                            <li><a href="{{ path('tours') }}">Туры</a></li>
                            <li><a href="{{ path('destinations') }}">Локации</a></li>
                            <li><a href="{{ path('about') }}">О нас</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-6">
                    <div class="header-right">
{#                        <a href="cart.html" class="travel-cart"><img src="{{ asset('public/img/cart-icon-img2.png') }}" alt=""><span>0</span></a>#}
                        <a href="#" class="search-icon-header"><i class="zmdi zmdi-search"></i></a>
{#                        <ul class="language-selector">#}
{#                            <li><a href="#" class="header-flug"><img src="{{ asset('public/img/flug-1.jpg') }}" alt=""><i class="zmdi zmdi-chevron-down"></i></a>#}
{#                                <ul>#}
{#                                    <li><a href="#"><img src="{{ asset('public/img/flug-2.jpg') }}" alt=""> <span>India</span></a></li>#}
{#                                    <li><a href="#"><img src="{{ asset('public/img/flug-3.jpg') }}" alt=""> <span>NewZealand</span></a></li>#}
{#                                    <li><a href="#"><img src="{{ asset('public/img/flug-4.jpg') }}" alt=""> <span>Sri Lanka</span></a></li>#}
{#                                    <li><a href="#"><img src="{{ asset('public/img/flug-5.jpg') }}" alt=""> <span>Zimbabwe</span></a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                        </ul>#}
                        <a href="{{ path('fos_user_security_login') }}">Войти</a>
                        <a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                    </div>
                    <div class="slicknav-menu-wrap"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title-area black-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-inner">
                        <div class="page-title-inner-table-cell">
                            <h1>{{ title }}</h1>
                            <div class="page-title-menu">
                                <ul>
                                    <li><a href="{{ path('main_index') }}">Главная</a></li>
                                    <li><a href="#start">Вниз</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--page-welcome-area end -->