{% extends 'MainBundle::layout.html.twig' %}

{% block title %}Поиск по "{{ title }}"{% endblock %}

{% block body %}
    <div class="destinations-page-content-area section-padding" id="start">
        <div class="destinations-title-section padding-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Поиск по "{{ title }}"</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="sea-tours-columns padding-bottom">
            <div class="container">
                <div class="row">

                    {% for tour in tours %}

                        <div class="col-sm-4">
                            <div class="single-sea-tours-item">
                                <div class="single-sea-tours-image single-sea-tours-image{{ loop.index }} black-overlay ">
                                    <t>{{ asset(['public/img/', tour.titleImage]|join) }}|</t>
                                    {#                                    <a href="{{ path('tours_show', {'id': tour.id}) }}#title"><img src="{{ asset(['public/img/', tour.titleImage]|join) }}" alt=""></a>#}
                                    <a href="{{ path('tours_show', {'id': tour.id}) }}#price" class="pink-btn">${{ tour.price }}</a>
                                    <a href="{{ path('tours_show', {'id': tour.id}) }}#title"><h2>{{ tour.name }}</h2></a>
                                </div>
                                <div class="single-sea-tours-text">
                                    <a href="{{ path('tours_show', {'id': tour.id}) }}#title"><h5>{{ tour.title }}</h5></a>
                                    <span class="post-day-count">
                                        <a href="{{ path('tours_show', {'id': tour.id}) }}#days"><i class="zmdi zmdi-time"></i> {{ tour.days }} Days</a>
                                    </span>
                                    <span class="post-review-stars">
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                    </span>
                                    <span class="post-review-count"><a href="{{ path('tours_show', {'id': tour.id}) }}#title">(5 Reviews)</a></span>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <h1>К сожалению по вашему запросу ничего не найдено:(</h1>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}